# Node
/node_modules
npm-debug.log*
yarn-debug.log*

# Environment Variables
.env

# VS Code specific files
.vscode/

# Package Lock files
# Bu dosyayı göndermeniz önerilir, ancak bazıları hariç tutar
# package-lock.json

# Diğer geçici veya hassas dosyalar
.vs/
*.sqlite